#txtReg{
	margin-bottom: 5px;
}
#btnlftT{
	padding-left: 75px; 
	padding-right: 80px; 
	padding-top: 15px; 
	padding-bottom: 15px;
}
#btnlftHM{
	padding-left: 85px; 
	padding-right: 95px; 
	padding-top: 15px; 
	padding-bottom: 15px;
}
#btnlftK{
	padding-left: 68px; 
	padding-right: 65px; 
	padding-top: 15px; 
	padding-bottom: 15px;
}
#btnlftL{
	padding-left: 80px; 
	padding-right: 90px; 
	padding-top: 15px; 
	padding-bottom: 15px;
}
.boxRL{
	width : 50%; 
	align-content: center; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
	opacity: 70%;
	padding: 30px; 
	border-radius: 10px;
	background-color: #EEEEEE;
}